.favorites-page-container {
  padding-top: 90px;
  .favorites-title {
    @include for-wide-layout {
      padding-top: 0;
    }
  }

  .favorites-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .fav-city-container {
      display: flex;
      margin: rem(15px);
      align-items: center;
      justify-content: center;
    }
  }
}
.no_favs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
